[Unit]
Description=Graylog server
Documentation=http://docs.graylog.org/
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
User=graylog
Group=graylog

ExecStart=/usr/share/graylog-server/bin/graylog-server

[Install]
WantedBy=multi-user.target
