[Unit]
Description=Graylog server
Documentation=http://docs.graylog.org/
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
User=graylog
Group=graylog

ExecStart=/usr/lib/systemd/scripts/graylog-server-env.sh

[Install]
WantedBy=multi-user.target
