[Unit]
Description=Graylog server
Documentation=http://docs.graylog.org/
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
User=graylog-radio
Group=graylog-radio

ExecStart=/usr/share/graylog-server/bin/graylog-radio

# When a JVM receives a SIGTERM signal it exits with 143.
SuccessExitStatus=143

# Make sure stderr/stdout is captured in the systemd journal.
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
