[Unit]
Description=Graylog server
Documentation=http://docs.graylog.org/
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
User=graylog-radio
Group=graylog-radio

ExecStart=/usr/share/graylog-server/bin/graylog-radio

[Install]
WantedBy=multi-user.target
