[Unit]
Description=Graylog web interface
Documentation=http://docs.graylog.org/
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
User=graylog-web
Group=graylog-web

ExecStart=/usr/share/graylog-web/bin/graylog-web

[Install]
WantedBy=multi-user.target
